<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>208525091892-kq0fejci6qh1k6kb3k1hkh59sj899qrl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.208525091892-kq0fejci6qh1k6kb3k1hkh59sj899qrl</string>
	<key>API_KEY</key>
	<string>AIzaSyDlKuLDwGznfMFe2NFNcZPmNTjCC6eDL6s</string>
	<key>GCM_SENDER_ID</key>
	<string>208525091892</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.roadsideAssistance</string>
	<key>PROJECT_ID</key>
	<string>roadside-assistance-7671a</string>
	<key>STORAGE_BUCKET</key>
	<string>roadside-assistance-7671a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:208525091892:ios:b8d46e3938995c916bd661</string>
</dict>
</plist>